<h1> Welcome to wordpress sandbox creation</h1>
<% if current_user %>
  Logged in as <b><%= current_user.email %> </b>
  <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Sign Up", new_user_registration_path %> or
  <%= link_to "Log In", new_user_session_path %>
<% end %>

<h2> <%= link_to "Create website", new_site_path %>
