<h1>New Site</h1>

<%= form_with model: @site do |form| %>
  <div>
    <%= form.label :php_version %> <br>
    <%= form.select :php_version, ['v1', 'v2', 'v3'] %>
  </div>

  <div>
    <%= form.label :wp_version %><br>
    <%= form.select :wp_version, ['v1', 'v2', 'v3'] %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>


